body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
   font-size:  90px;
}
p{
    font-size: 20px;
}
span{
    color:coral;

}
.flexible-container{
    display:flex;
    margin-bottom: 30px;
}
.half-width{
 width:50%;
 padding:3%;
}
.half-width img{
    width:100%;
   }
   .learn-button{
       text-decoration: none;
       background-image:linear-gradient(orange, coral,red ) ;
       padding: 20px 50px;
       border-radius: 25px;
       color:white;
       font-weight: 800;
   }
.middle-banner{
    background-image:url(Frame58.jpg);
    background-position: right;
    height: 616px;
}
.middle-banner img{
    width:100;
}
.recipies{
    text-align: center;
    padding-right:20px ;
    padding-left:20px ;
 }
#recipie-description{
    font-size: 15px;
    margin-left:  10%;
    margin-right:  10%;
    }
.recipie-list{
    background-color:white;
    padding:5%;
    display:flex;
   }
.one-third-width{
    flex:1;
    width: 60px;
    height: 600px;
    border-radius: 25px;
    width:30%;
    margin-right:3%;
    
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   }
   .one-third-width img{
    
    width:90%;
    padding:5%
   }
   .recipie-font{
       margin-left:5%;
   }
   .social-media-box{
    padding-top:2%;
    padding-left:3%;
    width: 1600px;
    height: 200px;
    border-radius: 25px;
    margin-right:5%;
    margin-left:5%;
    margin-bottom:5%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display:flex;
}
.social-media-bar{
    flex:1;
    width: 30px;
    height: 80px;
 width:30%;
    margin-right:3%;
}

 .socialmedia-h1-font{
     text-align: center;
    padding: 0px; 
    margin: 0px;

}
.socialmedia-p-font{
    text-align: center;
   padding: 0px; 
   margin: 0px;

}
.footer{
        background-color:black;
        padding-top:2%;
        width: 100%;
        height:300px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#footer-font{
    text-align: center;
    color: white;
}
#footer-h2{
    font-size:  50px;
    font-weight: 600;
    text-align: center;
    color: white;
}
.header{
  
        padding-top:2%;
        width: 100%;
        height:200px;
        background-image:url(ProjectCover4.png);

}

#header-h1{
    text-align: center;
    color:white ;  
}
#steak{
    padding: 3%;  
}
#pancake{
    padding: 3%;   
}
#soup{
    padding: 3%;
}


